$green: #009688;
$blue: #004d40;
$orange: #E38968;
$gray: #92959E;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.container {
  margin: 20px auto;
  width: 600px;
  min-height: 600px;
  background: #F2F5F8;
  border-radius: 5px;
  display: flex;
  margin-bottom: 80px;

}
.tabs {
  width: 600px;
  height: 50px;
  line-height: 50px;
  display: flex;
  .tab {
    text-align: center;
    width: 50%;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    background-color: #80cbc4;
  }
  .tab.active {
    font-weight: 600;
    color: #fff;
    background-color: #26a69a;
  }
}
@media screen and (max-width: 600px) { 
  .tabs {
    width: 300px;
  }
}
.formContainer {
  width: 100%;
  background-color: #C5DDEB;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.form {
    background-color: #C5DDEB;
    padding: 20px 0;
}

.clear {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color:rgba(113, 165, 117, 0.4);
  position: fixed;
  right: 10px;
  bottom: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: none;
  transition: background-color 0.7s, box-shadow 0.7s;
}

.clear:hover {
  background-color:rgba(113, 165, 117, 1);
  box-shadow: 0px 0px 20px 10px rgb(74 110 76);
}
@media screen and (max-width: 600px) {
  .container {
    margin: 20px auto;
    width: 90%;
    min-height: 300px;
    background: #F2F5F8;
    border-radius: 5px;
    display: flex;
    margin-bottom: 160px;
  }
  .clear {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color:rgba(113, 165, 117, 0.4);
    position: fixed;
    right: 5px;
    bottom: 150px;
    text-align: center;
    cursor: pointer;
  }
}
.img {
  width: 100%;
}
.chat {
  background: #F2F5F8;
  border-radius: 5px;
  color: #434651;
  width: 100%;

  .chat-history {
    ul {
      list-style: none;
    }
    padding: 10px;
    .message-data {
      margin-bottom: 15px;
    }

    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
    }

    .message {
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative;

      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $blue;
        border-width: 10px;
        margin-left: -10px;
      }

      @media screen and (max-width: 600px) {
        &:after {
          bottom: 100%;
          left: 10%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-bottom-color: $blue;
          border-width: 10px;
          margin-left: -10px;
        }
      }
    }

    .my-message {
      background: $blue;
    }

    .other-message {
      background: $green;

      &:after {
        border-bottom-color: $green;
        left: 93%;
      }

      @media screen and (max-width: 600px) {
        &:after {
          border-bottom-color: $green;
          left: 90%;
        }
      }
    }
  }

  .chat-message {
    padding: 30px;

    textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;

    }

    .fa-file-o,
    .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;

    }

    button {
      float: right;
      color: $blue;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8;

      &:hover {
        color: darken($blue, 7%);
      }
    }
  }
}

.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: $green;
}

.offline {
  color: $orange;
}

.me {
  color: $blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(1 1 1 / 40%);
  z-index: 100;
  width: 100%;
  height: 100%;
}

.box {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -80px;
  margin-top: -80px;
}

.combox {
  width: 160px;
  height: 160px;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  position: relative;
  width: 50px;
  perspective: 200px;
}

.loading:before,
.loading:after {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  animation: jumping 0.5s infinite alternate;
  background: rgba(0, 0, 0, 0);
}

.loading:before {
  left: 0;
}

.loading:after {
  right: 0;
  animation-delay: 0.15s;
}

@keyframes jumping {
  0% {
    transform: scale(1) translateY(0px) rotateX(0deg);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1.2) translateY(-25px) rotateX(45deg);
    background: #000;
    box-shadow: 0 25px 40px #000;
  }

}

@keyframes feadIn {
  0% {
    background-color:rgba(113, 165, 117, 0.4);
  }

  100% {
    background-color:rgba(113, 165, 117, 1);
  }

}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $blue;
}
.menu-item {
  cursor: pointer;
  padding: 5px;
  height: 28px;
  border-bottom: 1px solid rgb(187, 187, 187);
}

.menu-item:hover {
  background: rgba(113, 165, 117);
}
